$black: #010000;
$white: #fff;
$grey: #e6e6e6;
$darkgrey: #333;
$red: #ff1755;


body{
    font-family:'Open Sans', sans-serif;
    font-size:18px;
    color:$black;
    font-weight:400;
    font-style:normal;
}

@mixin translateY($e){
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin transition($e){
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}